fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
celery
redis
requests
cloudscraper
feedparser
beautifulsoup4
scrapling
playwright
playwright-stealth
python-multipart
python-slugify
